@model AllOffersQueryModel

@{
    ViewData["Title"] = "All Offers";
}

<form method="get">
    <div class="row mb-5">
        <div class="form-gorup col-md-4">
            <label asp-for="SearchTerm">Search</label>
            <input asp-for="SearchTerm" class="form-control" />
        </div>

        <div class="form-gorup col-md-4">
            <div class="form-group">
                <label asp-for="Sorting">Sort By</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="1">Title</option>
                    <option value="2">Username</option>
                    <option value="3">PaymentAZ</option>
                    <option value="4">PaymentZA</option>
                    <option value="5">Country</option>
                </select>
            </div>
        </div>

        <div class="form-gorup col-md-3">
            <input type="submit" class="btn btn-primary d-none" value="Search" />
        </div>
    </div>
</form>

<div class="row">
    @foreach (var offer in Model.ModelCollection)
    {
        if (!offer.IsExpired)
        {
            <div class="col-md-4">
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(offer.Photo))" alt="@offer.Title @offer.PublisherUserName @offer.Payment" @offer.Country>
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@offer.Title @offer.PublisherUserName @offer.Payment @offer.Country</h5>
                        <a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.OfferId" class="btn btn-primary">Details</a>
                        @if (User.IsAdmin())
                        {
                            <a asp-controller="Offers" asp-action="Delete" asp-route-id="@offer.Id" class="btn btn-primary">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

@{
    var previusPage = Model.CurrentPage - 1;
    if (previusPage < 1)
    {
        previusPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalElements / AllOffersQueryModel.OffersPerPage);
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Offers"
           asp-action="Offers"
           asp-route-currentPage="@(previusPage)"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Previous</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-lg-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Offers"
           asp-action="Offers"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Next</a>
    </div>
</div>
