@model AllInfluencersQueryModel

<form method="get">
    <div class="row mb-5">
        <div class="form-gorup col-md-4">
            <label asp-for="SearchTerm">Search</label>
            <input asp-for="SearchTerm" class="form-control"/>
        </div>

        <div class="form-gorup col-md-3">
            <div class="form-group">
                <label asp-for="Sorting">Search</label>
                <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Date Created</option>
                <option value="1">FirstName</option>
                <option value="2">Username</option>
                <option value="3">Age</option>
                </select>
            </div>
        </div>

        <div class="form-gorup col-md-3">
            <input type="submit" class="btn btn-primary d-none" value="Search" />
        </div>
    </div>
</form>

<div class="row">
    @foreach (var influencer in Model.Influencers)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(influencer.Photo))" alt="@influencer.Username @influencer.Instagram @influencer.Facebook">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@influencer.Username @influencer.Instagram @influencer.Facebook</h5>
                    <a asp-controller="Influencers" asp-action="Details" asp-route-id="@influencer.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>