@model IEnumerable<OffersListingViewModel>
@using InfluencerWannaBe.Services.Publisher
@using InfluencerWannaBe.Services.Influencers
@using InfluencerWannaBe.Services.Offers


@inject IPublisherService publishers
@inject IInfluencerService influencers
@inject IOfferService offers

<div class="row">
    @foreach (var offer in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(offer.Photo))" alt="@offer.Title @offer.PublisherUserName @offer.Payment" @offer.Country>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@offer.Title @offer.PublisherUserName @offer.Payment @offer.Country</h5>
                    <a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" class="btn btn-primary">Details</a>
                    @{
                        var publisher = publishers.GetPublisher(offer.PublisherId);

                        if (offer.OwnerId == this.User.GetId())
                        {
                            <a asp-controller="Offers" asp-action="Delete" asp-route-id="@offer.Id" class="btn btn-primary">Delete</a>
                            <a asp-controller="Offers" asp-action="Edit" asp-route-id="@offer.Id" class="btn btn-primary">Edit</a>                            
                            <a asp-controller="Publishers" asp-action="AsignedInfluencers" asp-route-id="@offer.Id" class="btn btn-primary">Assigned Influencers</a>                            
                        }

                        var influencer = influencers.GetInfluencer(this.User.GetId());
                        var isInfluencer = influencers.IsInfluencer(this.User.GetId());
                        var infOffer = influencers.GetInfluencerOffer(influencer);
                        var infOffers = influencers.InfluencerOffers(infOffer);

                        if (isInfluencer)
                        {
                         if (offer.Influencers.Contains(infOffer))
                         {
                             <a asp-controller="Offers" asp-action="Remove" asp-route-id="@offer.Id" class="btn btn-primary">Remove</a>
                         }
                       }
                    }
                </div>               
            </div>
        </div>
    }    
</div>